body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#mainPanel {
	width: 100%;
}

#mainPanel .panels {
	border: solid 1px #CCC;
	height: 488px;
}

#mainPanel > .well {
	padding: 4px;
}

#navList {
	width: 28%;
	float: left;
	margin-right: 18px;
}

#navList ul li {
	line-height: 28px;
}

#previewPanel {
	width: 65%;
	float: left;
}

#previewPanel > header {
	padding: 8px;
}

#previewPanel > section {
	padding: 8px;
}
